{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'Stylus/style.css' %}">
        <base href="home">
    </head>

    <body>
        <header>
            <nav>
                <div>
                    <span class="logo">
                        <a href="#">
                            <img class="logo" src="https://via.placeholder.com/100x50/logo.png/fff/000/?text=Logo"
                                alt="Logo">
                        </a>
                    </span>
                    <span class="navbar_right">
                        <ul>
                            <li class="navbar_right_list_item">
                                <a href="signup">Sign Up</a>
                            </li>
                            <li class="navbar_right_list_item">
                                <a href="login">Sign In</a>
                            </li>
                            <li class="navbar_right_list_item">
                                <a href="cart">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path
                                            d="M8 9h-7.161l-.839-2h8v2zm0 2h-6.322l.839 2h5.483v-2zm8.53-4h-6.53v2h5.966l.564-2zm-1.694 6l.564-2h-5.4v2h4.836zm-6.336 5c-.828 0-1.5.672-1.5 1.5 0 .829.672 1.5 1.5 1.5s1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm11.305-15l-3.432 12h-13.017l.839 2h13.659l3.474-12h1.929l.743-2h-4.195zm-6.305 15c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5z" />
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </span>
                    <span class="search_tab">
                        <input type="search" placeholder="Eg : Lenovo K4 Note">
                        <input type="submit" value="Search">
                    </span>
                    <span>
                        <ul class="navbar_list">
                            <li class="navbar_list_item">
                                <a href="">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path
                                            d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z" />
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </span>
                </div>
            </nav>
        </header>
        <main>
            {% block content %}

            {% endblock content %}
        </main>
        <footer></footer>
    </body>

</html>
